{{template "partials/global/header.html" .}}

<h1>animapi（建設中）</h1>

<script>
var songs = {{.songs}};
var index = -1;
var player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '390',
    width: '640',
    //videoId: 'M7lc1UVf-VE',
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  });
}
function onPlayerReady(ev) {
    next();
}
function onPlayerStateChange(ev) {
    switch(ev.data){
    case 0:
        next();
        break;
    default:
    }
}
function next() {
    index++;
    var q = songs[index].Anime.Title + " " + songs[index].Song.Title;
    $.ajax({
        type: "GET",
        url:  "http://gdata.youtube.com/feeds/api/videos?alt=json&q=" + q,
        success: function(res) {
            if (res.feed && res.feed.entry.length > 1) {
                var vid = res.feed.entry[0].id.$t.split('/').pop();
                player.loadVideoById(vid);
            }
        },
        error: function(err) {
            alert(JSON.stringify(err));
        }
    });
}
</script>

{{template "partials/global/player.html"}}

<table class="entries">
{{range .songs}}
  {{template "partials/anime/song.html" .}}
{{end}}
</table>

{{template "partials/global/footer.html" .}}
